/*
Theme Name: IFRS Evento
Theme URI: http://eventos.ifrs.edu.br/
Author: Daniel Mazon da Silva, Ricardo Moro
Author URI: http://www.ifrs.edu.br/
Description: Tema para os eventos do Portal de Eventos do IFRS.
Version: 1.0
License: GNU General Public License v3 & Creative Commons 4.0 (BY-NC-ND)
License URI: http://eventos.ifrs.edu.br/
Tags: eventos,ifrs
*/



/* Fontes
-------------------------------------------------------------- */
* {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}


/* Barra Brasil Fix
-------------------------------------------------------------- */
#barra-brasil div.brasil-flag {
    height: auto;
}


/* Layout
-------------------------------------------------------------- */
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #00813e;
}

small { 
    color: #777;
    clear: both;
    padding: 0px;
    display: table;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

#conteudo {
	margin-top:15px;
	margin-bottom:15px;
}

.breadcrumb {
    padding: 8px 15px 8px 15px;
    margin-top: 0;
    margin-bottom: 5px;
}

ol.breadcrumb li a {
    font-weight: bold;
}

ol.breadcrumb li.active {
    font-weight:bold;
}

.center {
    text-align: center;
}

.alignright,
img.alignright {
	float: right;
}

.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 0px;
}
img.aligncenter {
	clear: both;
	margin-top: 12px;
	margin-top: 0.857142857rem;
	margin-bottom: 12px;
	margin-bottom: 0.857142857rem;
}
img.alignright,
.wp-caption.alignright {
	margin: 12px 0 12px 24px;
	margin: 0.857142857rem 0 0.857142857rem 1.714285714rem;
}


/* Cabeçalho
-------------------------------------------------------------- */
header {
    margin-top: 5px;
    margin-bottom: 10px;
}


/* Atalhos
-------------------------------------------------------------- */
#atalhos {
    font-size: 0.8em;
    margin-top: 4px;
}

#atalhos .btn-xs {
    margin-top: 2px;
}

#atalhos ul {
    height: 20px;
    margin-top: 5px;
    margin-bottom: 0;
}

#atalhos ul li {
    float: left;
    padding-right: 10px;
    list-style: none;
}

#atalhos ul li a {
    text-decoration: none;
}

#atalhos ul li a .badge {
    font-size: 0.9em;
    font-weight: 600;
}


/* Menu
-------------------------------------------------------------- */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus, 
.current-menu-item a,
.current_page_item a {
    background-color: transparent;
    border-bottom: 3px solid #00813e;
    height: 50px;
}

.navbar-default .navbar-nav > li > a {
    background-color: transparent;
}

ul.nav.navbar-nav li a:hover,
ul.nav.navbar-nav li.active a:hover {
    background-color: #00813e;
    color: #fff;
}
.nav > li > a {
	padding-right: 10px;
}

.navbar-default .navbar-nav > .active > a {
    background-image: none;
    filter: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}


/* Rodapé
-------------------------------------------------------------- */
footer {
    background-color: #00813e;
    color: #FFFFFF;
    font-size: 0.8em;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}

footer p.titulo {
    margin-top: 10px;
    font-size: 1.5em;
}

footer div.links {
    margin-top: 13px;
}

footer a,
footer a:visited {
    color: #FFFFFF;
    text-decoration: underline;
}

footer a:hover,
footer a:active,
footer a:focus {
    color: #FCCA00;
}
