/* Layout
-------------------------------------------------------------- */
#contraste-desligar { display: block !important; }

#contraste-ligar { display: none !important; }

/* Fontes
-------------------------------------------------------------- */
small,p,a,h1,h2,h3,h4,h5,h6 {
    color: #fff !important;
}

h1, h1 > a,
h2, h2 > a,
h3, h3 > a,
h4, h4 > a,
h5, h5 > a,
h6, h6 > a {
    color: #fcca00 !important;
}

.previous a {
	background-color: #000 !important;
}

.table, .table-striped {
	background-color:#000 !important;
	color:#fff !important;
}

/* Layout
-------------------------------------------------------------- */

body {
    background-image: none !important;
    background-color: #000 !important;
}

#brasil {
    background-color: #000 !important;
}

#barra-brasil {
    background-color: #000 !important;
    border-bottom: 1px solid #FFF !important;
}

.badge {
    background-color: #333;
}

.breadcrumb {
    background-color: #fff !important;
}

.breadcrumb a,
ol.breadcrumb li.active {
    color: #000 !important;
}

hr { 
    border-color: #fff !important;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: transparent;
}

form input {
    color: #000 !important;
}

form textarea {
    color: #000 !important;
}

ol,
ul {
    color: #fff !important;
}


/* Cabeçalho
-------------------------------------------------------------- */

ul.nav.navbar-nav {
    background-color: #fff !important;
}
.navbar-default { border-color:#000;}

ul.nav.navbar-nav li a {
    color: #000 !important;
}

.navbar-default {
    background-color:#fff !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, 
.current-menu-item a,.current_page_item  a {
    color: #000 !important;
    border-bottom: 3px solid #000 !important;
}
.navbar-default .navbar-nav>li>a{
    color: #000 !important;
}

ul.nav.navbar-nav li a:hover ,ul.nav.navbar-nav li.active a:hover {
    background-color: #000 !important;
    color:#fff !important;
}


/* Rodapé
-------------------------------------------------------------- */

footer {
    background-color: #000 !important;
    border: 1px solid #fff !important;
}

footer a:hover,
footer a:active,
footer a:focus {
    color: #FCCA00 !important;
}
